.fade-in-bottom {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInBottom 0.5s forwards;
  }
  
  .fade-out-up {
    opacity: 1;
    transform: translateY(0);
    animation: fadeOutUp 0.5s forwards;
  }
  
  @keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOutUp {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-20px);
    }
  }